body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  max-width: 60%;
  max-width: 800px;
  margin: auto;
  padding: 16px;
}

#welcome-nav {
  font-size: 20px;
}

.custom-form {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

textarea {
  min-height: 40px;
}

.custom-form button {
  height: 32px;
}

.enter_room-input {
  padding: 4px 8px;
}

#room-messages_container {
  max-width: 400px;
  overflow: hidden;
  padding: 0px;
}

.message {
  list-style-type: none;
  padding: 16px;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 8px;
}

.message-owner {
  background-color: lightblue;
}

.message:last-child {
  border-bottom: none;
}

.sender {
  font-weight: bold;
  color: #333;
}

.date {
  font-size: 12px;
  color: #888;
}

.content {
  margin-top: 8px;
}
